<div class="row">
  <div class="p-0 col-lg-12">
    <h1>Educacion</h1>
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaedu"
      *ngIf="isLogged"
    >
      Agregar Educacion
    </button>
  </div>
  <div class="col-lg-12">
    <table class="table">
      <tbody *ngIf="educacion[0]; else elseBlock">
        <tr *ngFor="let educacion of educacion">
          <td>
            <h3>{{ educacion.nombreE }}</h3>
          </td>
          <td>{{ educacion.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editedu/{{ educacion.id }}"
            >
              <i class="bi bi-pencil-fill"></i>
              EDITAR
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(educacion.id)">
              <i class="bi bi-trash-fill"></i> BORRAR
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #elseBlock
        ><h2>No hay educaciones actualmente, agrega una!</h2></ng-template
      >
    </table>
  </div>
</div>
