div {
  background-color: #8294c4;
}

#foto-perfil {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px grey;
  position: relative;
  bottom: 75px;
}

#nombre {
  position: relative;
  bottom: 50px;
}

#banner {
  max-height: 650px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  #banner {
    position: relative;
    top: 150px;
  }

  #foto-perfil {
    bottom: 0;
  }

  #nombre {
    bottom: 0;
  }

  #acerca-de-mi {
    text-align: center;
  }
}

@media (min-width: 769px) {
  #foto-perfil {
    box-shadow: 3px 3px 3px grey;
  }
}

@media (min-width: 1200px) {
  #foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px grey;
  }
}
