<div class="row">
  <div class="">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/editacercade/1"
      *ngIf="isLogged"
    >
      Editar persona
    </button>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img id="foto-perfil" src="{{ persona.img }}" class="img-fluid" alt="" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">HOLA {{ persona.apellido }}</h4>
    <p>Full Stack Web Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h2>Acerca de mi</h2>
      <p>
        {{ persona.descripcion }}
      </p>
    </span>
  </div>
</div>
