.navbar {
  transition: 0.3s;
}

.navbar:hover {
  background: #8294c4;
}

.row {
  width: 100%;
  height: 100px;
}

img {
  width: 50px;
}

#logoAP {
  width: 150px;
}

.redes {
  margin-right: 0.5em;
}

.redes img {
  margin: 0.2em;
}

.btn {
  border-width: medium;
}
