<nav class="navbar fixed-top">
  <div
    class="hover container-fluid d-sm-flex justify-content-center justify-content-md-between"
  >
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/"
      ><img id="logoAP" src="../../../assets/APLogo.png" alt=""
    /></a>
    <div class="redes">
      <div class="">
        <a href="https://www.instagram.com/ace.nicolas.koch/" class=""
          ><img src="../../../assets/instagram.png" alt=""
        /></a>
        <a href="https://www.linkedin.com/in/nicolas-koch-6b0372275/" class=""
          ><img src="../../../assets/linkedin.png" alt=""
        /></a>
        <a href="https://github.com/nicolaskochmain" class="" target="_blank"
          ><img src="../../../assets/github.png" alt=""
        /></a>
        <button
          class="btn btn-outline-light mx-2"
          (click)="login()"
          *ngIf="!isLogged"
        >
          Ingreso
        </button>
        <button
          class="btn btn-outline-light mx-2"
          (click)="onLogOut()"
          *ngIf="isLogged"
        >
          Cerrar session
        </button>
      </div>
    </div>
  </div>
</nav>
