<div class="row">
  <div class="p-0 col-lg-12">
    <h1>Experiencia</h1>
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Agregar Experiencia
    </button>
  </div>
  <div class="col-lg-12">
    <table class="table">
      <tbody *ngIf="experiencia[0]; else elseBlock">
        <tr *ngFor="let experiencia of experiencia">
          <td>
            <h3>{{ experiencia.nombreE }}</h3>
          </td>
          <td>{{ experiencia.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editexp/{{ experiencia.id }}"
            >
              <i class="bi bi-pencil-fill"></i>
              EDITAR
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(experiencia.id)">
              <i class="bi bi-trash-fill"></i> BORRAR
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #elseBlock
        ><h2>No hay experiencias actualmente, agrega una!</h2></ng-template
      >
    </table>
  </div>
</div>
